@mixin bottom-button {
    padding-bottom: 30px;
    margin-top: 30px;
    display: flex;
    gap: 50px;
    justify-content: center;

    button {
        padding: 10.5px 15px;
        max-width: 300px;
        width: 100%;
        font-size: 18px;
        font-weight: 600;
    }

    &__save {
        background-color: $primary;
        border: none;
    }

    &__cancel {
        background-color: rgb(204, 204, 204);
        border: 1px solid $primary;

        &:hover {
            border: 1px solid $primary;
        }
    }
}