<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        {{{content}}}

        <p>
            <b>
                Links Attachments: <a href="{{file}}">{{file}}</a>
            </b>
        </p>
    </body>
</html>