<div class="container-fluid">
  <div class="row pb-3">
    <div class="col-md-6">
      <h1>Job requisition</h1>
    </div>
    <div class="col-md-6">
      <button class="btn add-btn" (click)="openAdd('')">
        Add new job requisition
      </button>

      <mat-button-toggle-group [(ngModel)]="view">
        <mat-button-toggle value="Board"
          ><i class="fa fa-table"></i> Board</mat-button-toggle
        >
        <mat-button-toggle value="List"
          ><i class="fa fa-list"></i> List</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
  </div>
  <div *ngIf="requisitionList.length === 0">
    <app-empty-data [action]="'jobs'"></app-empty-data>
  </div>

  <div *ngIf="requisitionList.length != 0" class="row">
    <div class="table-wrapper">
      <div class="col-md-12">
        <nav class="navbar">
          <div class="bg-light rounded rounded-pill shadow-sm w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <button
                  id="button-addon2"
                  type="submit"
                  class="btn btn-link text-warning"
                >
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <input
                type="search"
                placeholder="What're you searching for?"
                aria-describedby="button-addon2"
                class="form-control border-0 bg-light"
                [(ngModel)]="searchValue"
              />
            </div>
          </div>
        </nav>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th (click)="setSort('created_at')">
                  Date Posted &nbsp;
                  <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th (click)="setSort('jobTitle')">
                  Job Title &nbsp; <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th (click)="setSort('jobType')">
                  Job Type &nbsp; <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th (click)="setSort('jobCategories')">
                  Job Categories &nbsp;
                  <i class="fa fa-sort" aria-hidden="true"></i>
                </th>

                <th (click)="setSort('is_active')">
                  Status
                  <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let requisition of requisitionList
                    | filter: searchValue
                    | orderBy: key:reverse
                    | paginate: { itemsPerPage: itemsPerPage, currentPage: p }
                "
              >
                <td>
                  {{ requisition?.created_at | date }}
                </td>
                <td
                  class="job-title"
                  [routerLink]="['/jobs', requisition?._id]"
                >
                  {{ requisition?.jobTitle }}
                </td>
                <td>
                  {{ requisition?.jobType }}
                </td>
                <td>
                  {{ requisition?.jobCategories }}
                </td>
                <td>
                  <span
                    *ngIf="requisition?.is_active"
                    class="active"
                    (click)="
                      switchStatus(requisition?._id, requisition?.is_active)
                    "
                    >Active</span
                  >
                  <span
                    *ngIf="!requisition?.is_active"
                    class="disable"
                    (click)="
                      switchStatus(requisition?._id, requisition?.is_active)
                    "
                    >Disable</span
                  >
                </td>
                <td>
                  <div class="table-actions" ngbDropdown container="body">
                    <button
                      type="button"
                      class="btn btn-outline-primary btn-sm"
                      ngbDropdownToggle
                    >
                      Actions
                    </button>
                    <div class="table-action" ngbDropdownMenu>
                      <button
                        ngbDropdownItem
                        [routerLink]="['/jobs', requisition?._id]"
                      >
                        Details
                      </button>
                      <button ngbDropdownItem (click)="openAdd(requisition)">
                        Update
                      </button>
                      <button ngbDropdownItem (click)="openAssign('')">
                        Assign to recruiters
                      </button>
                      <button ngbDropdownItem>Application</button>
                      <div class="dropdown-divider"></div>
                      <button
                        (click)="
                          switchStatus(requisition?._id, requisition?.is_active)
                        "
                        ngbDropdownItem
                      >
                        Deactivate/Active
                      </button>
                      <button
                        ngbDropdownItem
                        (click)="openDelete(requisition?._id)"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-pagination">
          <div class="row d-flex justify-content-between">
            <div class="col-md-3">
              <label
                >Items per page:
                <select [(ngModel)]="itemsPerPage">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                </select>
              </label>
            </div>
            <div class="col-md-4 p-3">
              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
