<div class="container-fluid">
  <div class="row pb-3">
    <div class="col-md-6">
      <h1>Candidates</h1>
    </div>
    <div class="col-md-6">
      <button class="btn pt-2 add-btn" (click)="openAdd('')">
        Add new candidate
      </button>
    </div>
  </div>
  <div *ngIf="candidateList.length === 0" class="row">
    <app-empty-data [action]="'candidates'"></app-empty-data>
  </div>
  <div *ngIf="candidateList.length != 0" class="row">
    <div class="table-wrapper">
      <nav class="navbar">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-2 w-100">
          <div class="input-group">
            <div class="input-group-prepend">
              <button
                id="button-addon2"
                type="submit"
                class="btn btn-link text-warning"
              >
                <i class="fa fa-search"></i>
              </button>
            </div>
            <input
              type="search"
              placeholder="What're you searching for?"
              aria-describedby="button-addon2"
              class="form-control border-0 bg-light"
              [(ngModel)]="searchValue"
            />
          </div>
        </div>
      </nav>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th (click)="setSort('firstName')">
                Name &nbsp; <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th (click)="setSort('email')">
                Email &nbsp; <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th (click)="setSort('phone')">
                Phone &nbsp; <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th (click)="setSort('process')">
                Process &nbsp;
                <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th (click)="setSort('experience')">
                Experience &nbsp;
                <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th (click)="setSort('is_active')">
                Status
                <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th>Note</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let candidate of candidateList
                  | filter: searchValue
                  | orderBy: key:reverse
                  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }
              "
            >
              <td class="name" [routerLink]="['/candidates', candidate?._id]">
                {{ candidate?.firstName }} {{ candidate?.lastName }}
              </td>
              <td>{{ candidate?.email }}</td>
              <td>{{ candidate?.contact?.phone }}</td>
              <td>{{ candidate?.process | uppercase }}</td>
              <td>{{ candidate?.experience }} years</td>
              <td>
                <span
                  *ngIf="candidate?.is_active"
                  class="active"
                  (click)="switchStatus(candidate?._id, candidate?.is_active)"
                  >Active</span
                >
                <span
                  *ngIf="!candidate?.is_active"
                  class="disable"
                  (click)="switchStatus(candidate?._id, candidate?.is_active)"
                  >Disable</span
                >
              </td>
              <td (click)="openNote(candidate)">
                <i class="fa fa-sticky-note" aria-hidden="true"></i>
              </td>
              <td>
                <div class="table-actions" ngbDropdown container="body">
                  <button
                    type="button"
                    class="btn btn-outline-primary btn-sm"
                    ngbDropdownToggle
                  >
                    Actions
                  </button>
                  <div class="table-action" ngbDropdownMenu>
                    <button
                      ngbDropdownItem
                      [routerLink]="['/candidates', candidate?._id]"
                    >
                      Details
                    </button>
                    <button ngbDropdownItem (click)="openAdd(candidate)">
                      Update
                    </button>
                    <button ngbDropdownItem (click)="openNote(candidate)">
                      Note
                    </button>
                    <button ngbDropdownItem>Evaluate</button>
                    <button ngbDropdownItem (click)="openContact(candidate)">
                      Contact
                    </button>
                    <button ngbDropdownItem>Assign jobs</button>
                    <div class="dropdown-divider"></div>
                    <button
                      ngbDropdownItem
                      (click)="
                        switchStatus(candidate?._id, candidate?.is_active)
                      "
                    >
                      Deactivate/Active
                    </button>
                    <button ngbDropdownItem (click)="openDelete(candidate._id)">
                      Delete
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-pagination">
        <div class="row d-flex justify-content-between">
          <div class="col-md-3">
            <label
              >Items per page:
              <select [(ngModel)]="itemsPerPage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
            </label>
          </div>
          <div class="col-md-4 p-3">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
