<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-5">
        <div class="wrap">
          <div class="login-wrap p-4 p-md-5">
            <div class="d-flex p-md-2">
              <div class="w-100">
                <h3 class="mb-4"><strong>Forgot password</strong></h3>
              </div>
            </div>
            <form
              [formGroup]="forgotPassForm"
              (ngSubmit)="onSubmit()"
              class="signin-form"
            >
              <div class="form-group mb-3">
                <label class="label" for="email">Your email</label>
                <input
                  type="text"
                  id="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="Enter your email"
                  autocomplete="fsdfsdf"
                  [class]="{
                    'is-invalid': f['email'].errors && submitted
                  }"
                />
                <div
                  *ngIf="submitted && f['email'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['email'].errors['required']">
                    User name is required
                  </div>
                  <div *ngIf="f['email'].errors['minlength']">
                    User name must be at least 8 characters
                  </div>
                  <div *ngIf="f['email'].errors['email']">
                    Email format is invalid
                  </div>
                </div>
              </div>

              <div class="form-group">
                <button
                  type="submit"
                  class="form-control btn btn-primary rounded submit px-3"
                >
                  Send request
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
