<div class="container-fluid">
  <div class="recruiter-details">
    <div class="row">
      <div class="col-md-12">
        <div class="recruiter-detail--top">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
              <div class="recruiter-detail--top-avatar avatar-profile">
                <label class="hoverable" for="fileInput">
                  <img
                    [src]="
                      url
                        ? url
                        : 'https://www.w3schools.com/howto/img_avatar.png'
                    "
                  />
                  <div class="hover-text">Choose file</div>
                  <i class="fa fa-camera-retro" aria-hidden="true"></i>
                </label>
                <input
                  id="fileInput"
                  type="file"
                  class="form-control"
                  (change)="onSelectFile($event)"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="recruiter-detail--top-name">
                <h3>
                  {{
                    recruiterDetail?.firstName + " " + recruiterDetail?.lastName
                  }}
                </h3>
                <p class="label label__role">
                  {{ recruiterDetail?.permission?.role }}
                </p>

                <p *ngIf="recruiterDetail?.is_active" class="active">Active</p>
                <p *ngIf="!recruiterDetail?.is_active" class="disable">
                  Disable
                </p>

                <p class="label label__email">{{ recruiterDetail?.email }}</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="recruiter-detail--top-option p-md-3">
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openAddJobs('')">
                    <mat-icon>work</mat-icon>
                    <span>Add jobs</span>
                  </button>
                  <button mat-menu-item (click)="switchTabs(1)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item (click)="switchTabs(4)">
                    <mat-icon>perm_phone_msg</mat-icon>
                    <span>Contact</span>
                  </button>
                  <button mat-menu-item (click)="switchTabs(3)">
                    <mat-icon>note</mat-icon>
                    <span>Note</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>add</mat-icon>
                    <span>Assign permission</span>
                  </button>
                  <button mat-menu-item (click)="openAssign(recruiterDetail)">
                    <mat-icon>add</mat-icon>
                    <span>Assign jobs</span>
                  </button>
                  <button
                    mat-menu-item
                    (click)="
                      switchStatus(
                        recruiterDetail?._id,
                        recruiterDetail?.is_active
                      )
                    "
                  >
                    <mat-icon>swap_horiz</mat-icon>
                    <span>Deactivate/Active</span>
                  </button>
                  <button
                    mat-menu-item
                    (click)="openDelete(recruiterDetail?._id)"
                  >
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-md-12">
        <div class="recruiter-detail--main">
          <mat-tab-group [(selectedIndex)]="tabIndex" mat-align-tabs="start">
            <mat-tab label="Jobs">
              <ng-template class="tab-label" mat-tab-label>
                <i class="fa fa-suitcase" aria-hidden="true"></i
                ><span> Jobs</span>
              </ng-template>
              <div
                *ngIf="
                  recruiterDetail?.jobTitle?.length === 0 ||
                  !recruiterDetail.jobTitle
                "
                class="container-fluid"
              >
                <app-empty-data [action]="'Jobs'"></app-empty-data>
              </div>
              <div
                *ngIf="
                  recruiterDetail?.jobTitle?.length != 0 &&
                  recruiterDetail.jobTitle
                "
                class="container-fluid"
              >
                <app-jobs [details]="recruiterDetail"></app-jobs>
              </div>
            </mat-tab>
            <mat-tab label="Summary">
              <ng-template class="tab-label" mat-tab-label>
                <i class="fa fa-user" aria-hidden="true"></i
                ><span>Summary</span>
              </ng-template>
              <app-summary [details]="recruiterDetail"></app-summary>
            </mat-tab>
            <mat-tab label="Activity">
              <ng-template class="tab-label" mat-tab-label>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <span> Activity </span>
              </ng-template>
              <div *ngIf="!recruiterDetail?.activity" class="container-fluid">
                <app-empty-data [action]="'activity'"></app-empty-data>
              </div>
            </mat-tab>
            <mat-tab label="Note">
              <ng-template class="tab-label" mat-tab-label>
                <i class="fa fa-clipboard" aria-hidden="true"></i
                ><span>Note</span>
              </ng-template>
              <app-note-tab [details]="recruiterDetail"></app-note-tab>
            </mat-tab>
            <mat-tab label="Contact">
              <ng-template class="tab-label" mat-tab-label>
                <i class="fa fa-address-card" aria-hidden="true"></i>
                <span>Contact</span>
              </ng-template>
              <app-contact-tab [details]="recruiterDetail"></app-contact-tab>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
