@import 'config/color';
@import 'local/partials';
@import 'local/partials/_status-btn';

.add-btn {
    @include button;
    padding: 10px 30px;
    float: right;
}

.btn-outline-primary {
    font-weight: bold;
    font-size: 16px;
}


.name {
    cursor: pointer;
    font-weight: 500;
    color: $primary;

    &:hover {
        color: $primary;
    }
}

.container-fluid {
    padding: 30px 0px;
    padding-bottom: 30px;
}

.table-actions {
    .btn {
        color: $primary;
        border-color: $primary;

        &:hover {
            background-color: $primary;
            color: white;
            font-weight: 600;
        }
    }

    .table-action {
        color: $primary;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        button {
            padding: 10px 15px;
        }
    }
}

.fa {
    color: $primary;
    margin-right: 10px;
}