<div class="container-fluid">
  <div class="row pb-3">
    <div class="col-md-6">
      <h1>Hiring Managers</h1>
    </div>
    <div class="col-md-6">
      <button class="btn pt-2 add-btn" (click)="openAdd('')">
        Add new recruiter
      </button>
    </div>
  </div>
  <div *ngIf="recruiterList.length === 0">
    <app-empty-data [action]="'recruiter'"></app-empty-data>
  </div>
  <div *ngIf="recruiterList.length != 0" class="row">
    <div class="table-wrapper">
      <nav class="navbar">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-2 w-100">
          <div class="input-group">
            <div class="input-group-prepend">
              <button
                id="button-addon2"
                type="submit"
                class="btn btn-link text-warning"
              >
                <i class="fa fa-search"></i>
              </button>
            </div>
            <input
              type="search"
              placeholder="What're you searching for?"
              aria-describedby="button-addon2"
              class="form-control border-0 bg-light"
              [(ngModel)]="searchValue"
            />
          </div>
        </div>
      </nav>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th (click)="setSort('recruiter')">
                Recruiter &nbsp; <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th (click)="setSort('phone')">
                Phone &nbsp; <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th (click)="setSort('email')">
                Email &nbsp; <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th (click)="setSort('currentPermission')">
                Permission &nbsp;
                <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th (click)="setSort('is_active')">
                Status
                <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th>Note</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let recruiter of recruiterList
                  | filter: searchValue
                  | orderBy: key:reverse
                  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }
              "
            >
              <td class="name" [routerLink]="['/recruiters', recruiter?._id]">
                {{ recruiter?.firstName }} {{ recruiter?.lastName }}
              </td>
              <td>{{ recruiter?.contact?.phone }}</td>
              <td>{{ recruiter?.email }}</td>
              <td>{{ recruiter?.permission?.role }}</td>
              <td>
                <span
                  *ngIf="recruiter?.is_active"
                  class="active"
                  (click)="switchStatus(recruiter?._id, recruiter?.is_active)"
                  >Active</span
                >
                <span
                  *ngIf="!recruiter?.is_active"
                  class="disable"
                  (click)="switchStatus(recruiter?._id, recruiter?.is_active)"
                  >Disable</span
                >
              </td>
              <td>
                <i
                  class="fa fa-sticky-note"
                  aria-hidden="true"
                  (click)="openNote(recruiter)"
                ></i>
              </td>
              <td>
                <div class="table-actions" ngbDropdown container="body">
                  <button
                    type="button"
                    class="btn btn-outline-primary btn-sm"
                    ngbDropdownToggle
                  >
                    Actions
                  </button>
                  <div class="table-action" ngbDropdownMenu>
                    <button
                      ngbDropdownItem
                      [routerLink]="['/recruiters', recruiter?._id]"
                    >
                      Details
                    </button>
                    <button ngbDropdownItem (click)="openAdd(recruiter)">
                      Update
                    </button>
                    <button ngbDropdownItem (click)="openNote(recruiter)">
                      Note
                    </button>
                    <button ngbDropdownItem>Add task</button>
                    <button
                      ngbDropdownItem
                      ngbDropdownItem
                      (click)="openContact(recruiter)"
                    >
                      Contact
                    </button>
                    <button
                      ngbDropdownItem
                      (click)="openAssignPermission(recruiter)"
                    >
                      Assign permission
                    </button>
                    <button ngbDropdownItem (click)="openAssign(recruiter)">
                      Assign jobs
                    </button>
                    <div class="dropdown-divider"></div>
                    <button
                      (click)="
                        switchStatus(recruiter?._id, recruiter?.is_active)
                      "
                      ngbDropdownItem
                    >
                      Deactivate/Active
                    </button>
                    <button
                      ngbDropdownItem
                      (click)="openDelete(recruiter?._id)"
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-pagination">
        <div class="row d-flex justify-content-between">
          <div class="col-md-3">
            <label
              >Items per page:
              <select [(ngModel)]="itemsPerPage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
            </label>
          </div>
          <div class="col-md-4 p-3">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
