<app-widgets-dropdown></app-widgets-dropdown>
<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Traffic</h4>
        <div class="small text-medium-emphasis">January - December 2021</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <button cButton class="float-end" color="primary">
          <svg cIcon name="cilCloudDownload"></svg>
        </button>
        <form [formGroup]="trafficRadioGroup">
          <c-button-group class="float-end me-3" role="group">
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Day"
            />
            <label
              (click)="setTrafficPeriod('Day')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              >Day</label
            >

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Month"
            />
            <label
              (click)="setTrafficPeriod('Month')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              >Month</label
            >

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Year"
            />
            <label
              (click)="setTrafficPeriod('Year')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              >Year</label
            >
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChart.options"
      [type]="mainChart.type"
    >
      Main chart
    </c-chart>
  </c-card-body>
  <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Visits</div>
        <strong>203 Users</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="success" value="100"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Unique</div>
        <strong>93 Users</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="info" value="100"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Page views</div>
        <strong>506 Views</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="warning" value="100"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">New Users</div>
        <strong>23 Users</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" value="100"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Access Rate</div>
        <strong>Average Rate (30.15%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar value="100"></c-progress-bar>
        </c-progress>
      </c-col>
    </c-row>
  </c-card-footer>
</c-card>

<app-widgets-brand [withCharts]="true"></app-widgets-brand>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Candidates</c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-info py-1 px-3"
                >
                  <div class="text-medium-emphasis small">New Candidates</div>
                  <div class="fs-5 fw-semibold">
                    {{ dashboardDetail.candidates - 1 }}
                  </div>
                </div>
              </c-col>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-danger py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">Total candidate</div>
                  <div class="fs-5 fw-semibold">
                    {{ dashboardDetail.candidates }}
                  </div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Monday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="34"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="78"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Tuesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="56"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="94"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Wednesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="12"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="67"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Thursday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="43"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="91"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Friday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="22"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="73"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Saturday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="53"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="82"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Sunday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="9"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="69"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="legend text-center" ngPreserveWhitespaces>
              <small>
                <sup
                  ><span class="badge badge-pill badge-sm bg-info"
                    >&nbsp;</span
                  ></sup
                >
                <span>New clients</span>
                &nbsp;&nbsp;
                <sup
                  ><span class="badge badge-pill badge-sm bg-danger"
                    >&nbsp;</span
                  ></sup
                >
                <span>Recurring clients</span>
              </small>
            </div>
          </c-col>

          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-warning py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">Page views</div>
                  <div class="fs-5 fw-semibold">506</div>
                </div>
              </c-col>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-success py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">Organic</div>
                  <div class="fs-5 fw-semibold">701</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUser"></svg>
                <span>Male</span>
                <span class="ms-auto font-semibold">43%</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="warning" value="43"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-5">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUserFemale"></svg>
                <span>Female</span>
                <span class="ms-auto font-semibold">37%</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="warning" value="37"></c-progress-bar>
                </c-progress>
              </div>
            </div>

            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibGoogle"></svg>
                <span>Organic Search</span>
                <span class="ms-auto font-semibold"> 701 </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value="56"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibFacebook"></svg>
                <span>Facebook</span>
                <span class="ms-auto font-semibold"> 223 </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value="15"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibTwitter"></svg>
                <span>Twitter</span>
                <span class="ms-auto font-semibold"> 164 </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value="11"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibLinkedin"></svg>
                <span>LinkedIn</span>
                <span class="ms-auto font-semibold"> 90 </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value="8"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="divider d-flex justify-content-center">
              <button
                cButton
                class="text-muted btn-link"
                color="transparent"
                size="sm"
                type="button"
              >
                <svg cIcon name="cil-options"></svg>
              </button>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Recruiters</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>Recruiter</th>
              <th class="text-center">Role</th>
              <th>Phone</th>
              <th class="text-center">Payment Method</th>
              <th>Activity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let recruiter of recruiterList; index as i">
              <td class="text-center">
                <c-avatar
                  size="md"
                  [src]="
                    recruiter?.avatar
                      ? recruiter?.avatar
                      : 'https://www.w3schools.com/howto/img_avatar.png'
                  "
                  status="{{ recruiter?.is_active }}"
                ></c-avatar>
              </td>
              <td
                class="name"
                [routerLink]="['/recruiters', recruiter?._id]"
                routerLinkActive="router-link-active"
              >
                <div>
                  {{ recruiter?.firstName + " " + recruiter?.lastName }}
                </div>
                <div class="small text-medium-emphasis">
                  <span>{{ recruiter?.state }}</span> | Registered:
                  {{ recruiter.created_at | date }}
                </div>
              </td>
              <td class="text-center">
                <span>{{ recruiter?.permission?.role }}</span>
              </td>
              <td>
                <span>{{ recruiter?.contact?.phone }}</span>
              </td>
              <td class="text-center">
                <svg cIcon name="cibCc{{ recruiter?.email }}" size="xl"></svg>
              </td>
              <td>
                <div class="small text-medium-emphasis">Last update</div>
                <strong>{{ recruiter.updated_at | date }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
