@import 'config/color';
@import 'local/partials/modal';
@import 'local/partials/bottom-btn-dialog';

.modal-body {
    padding: 10px 30px;
}

.is-invalid {
    border-bottom: 1.5px solid crimson
}

.invalid-feedback {
    >div {
        font-weight: 500;
    }
}

.star-invalid {
    color: crimson !important;
}

input,
select {
    padding: 10.5px 15px;
}

label {
    font-weight: 500;
}

.form-button {
    @include bottom-button;
}