@import 'config/color';
@import 'local/partials';
@import 'local/partials/table';
@import 'local/partials/action_button';
@import 'local/partials/_status-btn';

.container-fluid {
    padding: 30px 0px;
    padding-bottom: 30px;
}

.add-btn {
    @include button;
    padding: 10px 30px;
    float: right;
}

.table-actions {
    @include action-btn;
}

.disable {
    @include disable-btn;
}

.active {
    @include active-btn;
}

span {
    cursor: pointer;
}

.job-title {
    font-weight: 500;
    color: $primary;
    cursor: pointer;
}